{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        <a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a>
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
    </nav>
</header>

<main class="content" role="main">

    <article class="{{post_class}}">
    {{! Everything inside the #post tags pulls data from the post }}

        <header class="post-header clearfix">
            <h1 class="post-title film-discussion-title">{{title}}</h1>
            <img src="http://podcast.benjaminbrandt.com/images/FilmDiscussionsCover.png" alt="Film Discussions" class="coverart" />
            <div class="subscribe-podcast">
                <p>The Film Discussions Podcast is a community of people who value thinking deeply about the visual content we consume.</p>
                <a href="https://itunes.apple.com/us/podcast/film-discussions/id962147761"><button class="itunes-subscribe">Subscribe on iTunes</button></a>
                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                <div id="mc_embed_signup">
                    <form action="//benjaminbrandt.us2.list-manage.com/subscribe/post?u=a3ee4ef077e2468a24a1a895a&amp;id=9f7f42e4a9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <label for="mce-EMAIL">Want to join the next discussion?</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_a3ee4ef077e2468a24a1a895a_9f7f42e4a9" tabindex="-1" value=""></div>
                            <div><input type="submit" value="Sign Up for Updates" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>

                <!--End mc_embed_signup-->
            </div>
        </header>

        <section class="post-content film-schedule">
            {{content}}
        </section>

    </article>

</main>
{{/post}}
